{% extends 'base.html' %}


{% block header %}
    <div class="alert alert-primary" role="alert">
        <h3>Sample SNS</h3>
    </div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        {% for item in object_list %}
        <div class="alert alert-primary" role="alert">
            <p>Title:<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p> 
            <p>Contributor:{{item.poster}}</p>
            <a href="#" class="btn btn-primary disabled"  role="button" data-bs-toggle="button">good:{{item.good}}</a>
            <a href="#" class="btn btn-primary disabled" role="button" data-bs-toggle="button" aria-pressed="true">read:{{item.read}}</a>
        </div>
       {% endfor %}
       <a href="{% url 'logout' %}">Log out</a>
    </div>
{% else %}
please login
{% endif %}
{% endblock content %}





